body,h1,h2,h3,h4,h5,h6 {font-family: Quicksand, sans-serif;}

.four-column{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2%;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

h2{
    font-size: 200%;
    text-align: center;
}

h3{
    font-size: 150%;
    text-align: center;
}

.w3-bar{
    border-bottom: 110%;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3cm;
}